[Unit]
Description=Launch the Redis server
After=network.target
Wants=network.target

[Service]
Type=notify
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf --supervised systemd

[Install]
WantedBy=multi-user.target