<!DOCTYPE html>
<html>
<head>
    <title>Spotify Web Project</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

<div class="page-container">

    <h1 id="title">Spotify Web Project</h1>

    <div id="pre-game-message">7 guesses. 1 mystery artist. Ready?</div>

    <div id="start" class="action-button">Play</div>


    <div id="game" class="hidden">
        <div id="game-key">
            <div class="key-section">
                <div class="key-item">
                    <span class="key-badge match">Example</span>
                    <span class="key-text">Correct match</span>
                </div>
                <div class="key-item">
                    <span class="key-badge no_match">Example</span>
                    <span class="key-text">No match</span>
                </div>
            </div>
            <div class="key-section">
                <div class="key-item">
                    <span class="key-badge higher">Higher</span>
                    <span class="key-text">Popularity is higher</span>
                </div>
                <div class="key-item">
                    <span class="key-badge lower">Lower</span>
                    <span class="key-text">Popularity is lower</span>
                </div>
            </div>
        </div>

        <h2>Guess the Artist</h2>

        <div id="guess-row">
            <input id="textbox" type="text" placeholder="Enter an artist name">
            <button id="guessButton">Guess</button>
        </div>

        <div id="guesses"></div>
    </div>


</div>

<script src="/static/script.js"></script>

</body>
</html>
