<!DOCTYPE html>
<html>
<head>
    <title>Spotify Web Project</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

<div class="page-container">

    <h1 id="title">Spotify Web Project</h1>

    <div id="start" class="action-button">Start</div>


    <div id="game" class="hidden">
        <h2>Guess the Artist</h2>

        <div id="guess-row">
            <input id="textbox" type="text" placeholder="Enter an artist name">
            <button id="guessButton">Guess</button>
        </div>

        <div id="guesses"></div>
    </div>

    <section id="artist-search">
        <h2>Artist Search</h2>

        <div class="search-row">
            <input id="musicbrainSearchInput" type="text" placeholder="Search for an artist">
            <button id="musicbrainSearchButton">Search</button>
        </div>

        <div id="musicbrainSearchResult"></div>
    </section>

</div>

<script src="/static/script.js"></script>

</body>
</html>
