<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Web Project</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <h1 id="title">Spotify Web Project</h1>
        
        <div id="start"> start </div>

        <div id="game" class="hidden">
            <input id="textbox" type="text" placeholder="Enter a Spotify artist">

            <div id="guesses">

            </div>
        </div>

        <section id="Artist Search">
            <h2>Artist Search</h2>
            <input id="musicbrainSearchInput" type="text" placeholder="Search for an artist">
            <button id="musicbrainSearchButton">Search</button>
            <pre id="musicbrainSearchResult"></pre>
        </section>

        <script src="/static/script.js"></script>
    </body>

</html>